<h1>Jays Streams</h1>

<ul>
  {{#if isGame}}
    {{#each links}}
      <li class="blue item"><a href="{{this}}">{{this}}</a></li>
    {{/each}}
  {{else}}
    <li class="red">No on-going game!</li>
    <li class="blue">Next game on {{ nextGame.day }} at {{ nextGame.time }} ET.</li>
  {{/if}}
</ul>
